<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.kreed.vanilla"
	android:versionName="0.1" android:versionCode="9">
	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name="ContextApplication">
		<activity
			android:name="NowPlayingActivity"
			android:theme="@style/NoBackground"
			android:launchMode="singleTop" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver
			android:name=".OneCellWidget"
			android:label="Vanilla Music 1x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/one_cell_widget" />
		</receiver>
		<activity
			android:name="RemoteActivity"
			android:theme="@android:style/Theme.Dialog"
			android:excludeFromRecents="true"
			android:launchMode="singleInstance" />
		<activity
			android:name="SongSelector"
			android:windowSoftInputMode="adjustResize" />
		<service android:name="PlaybackService" />
		<activity android:name="PreferencesActivity" />
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<supports-screens android:smallScreens="true" />
</manifest>
